TP3/src/__pycache__/cluster.cpython-313.pyc
TP3/src/__pycache__/cluster.cpython-313.pyc
TP3/src/__pycache__/DAO.cpython-313.pyc
TP3/src/__pycache__/entrainer.cpython-313.pyc
TP3/src/__pycache__/entrainerBD.cpython-313.pyc
TP3/src/__pycache__/parser.cpython-313.pyc
TP3/src/__pycache__/predire.cpython-313.pyc
TP3/src/ai_db
